<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Главная</title>
        <link href="../scss/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>

        <nav class="navbar">
            <div class="nav">
                <div class="nav__item"><a href="#" class="nav__link active">Главная</a></div>
                <div class="nav__item"><a href="#" class="nav__link">Категории</a></div>
                <div class="nav__item"><a href="#" class="nav__link">Отзывы</a></div>
                <div class="nav__item"><a href="#" class="nav__link">Контакты</a></div>
                <div class="nav__item cart__icon"><a href="#" class="nav__link"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a></div>
            </div>
            <div class="nav__toggle">
                <span class="nav__toggle__item"><i class="fas fa-bars"></i></span>
            </div>

            <div class="nav__toggle__active">
                <span class="nav__toggle__item"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </div>
        </nav>

        <section class="section__slider">
            <div class="container">
                <div class="section">
                    <div class="slider">
                        <div class="slider__nav">
                            <i class="arrow arrow__left"></i>
                            <img src="https://via.placeholder.com/400x400" alt="" class="slider__image">
                            <i class="arrow arrow__right"></i>
                        </div>
                    </div>
                    <div class="section__body">
                        <div class="section__content__header">
                            Теплица Капелька
                        </div>
                        <div class="section__content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illum mollitia nihil. Ab accusamus commodi distinctio, dolores eum fuga illum impedit in ipsa, laudantium natus placeat quae repellat repudiandae vitae.
                        </div>
                        <div class="section__action">
                            <button class="buttons buttons__success">Добавить в корзину</button>
                        </div>
                    </div>
                </div><!--section-->
            </div><!--container-->
        </section>

        <section class="new">
            <div class="container">
                <div class="section__header">Новинка 2022</div>
                <div class="section">
                    <img class="section__image" src="https://via.placeholder.com/400x400" alt="">
                    <div class="section__body">
                        <div class="section__content__header">Теплица "Прямостенная"</div>
                        <div class="section__content">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores illum mollitia nihil. Ab accusamus commodi distinctio, dolores eum fuga illum impedit in ipsa, laudantium natus placeat quae repellat repudiandae vitae.
                            <ul class="section__product__feature__list">
                                <li class="section__product__feature">Труба 40x20</li>
                                <li class="section__product__feature">Расстояние между дугами - 1м</li>
                                <li class="section__product__feature">Ширина 2м</li>
                            </ul>
                        </div>
                    </div>
                </div><!--section-->
            </div><!--container-->
        </section>

        <section class="products">
            <div class="container">
                <div class="header">Наши теплицы</div>
                <div class="products__body">
                    <div class="card">
                        <div class="card__title">Двойная дуга</div>
                        <img class="card__image" src="https://via.placeholder.com/400x400" alt="">
                        <div class="card__content">
                            <div class="card__price">Цена: 29900 руб.</div>
                            <ul class="section__product__feature__list">
                                <li class="section__product__feature">Труба 40x20</li>
                                <li class="section__product__feature">Расстояние между дугами - 1м</li>
                                <li class="section__product__feature">Ширина 2м</li>
                            </ul>
                        </div>
                        <div class="products__action">
                            <button class="buttons buttons__success">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__title">Двойная дуга</div>
                        <img class="card__image" src="https://via.placeholder.com/400x400" alt="">
                        <div class="card__content">
                            <div class="card__price">Цена: 29900 руб.</div>
                            <ul class="section__product__feature__list">
                                <li class="section__product__feature">Труба 40x20</li>
                                <li class="section__product__feature">Расстояние между дугами - 1м</li>
                                <li class="section__product__feature">Ширина 2м</li>
                            </ul>
                        </div>
                        <div class="products__action">
                            <button class="buttons buttons__success">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__title">Двойная дуга</div>
                        <img class="card__image" src="https://via.placeholder.com/400x400" alt="">
                        <div class="card__content">
                            <div class="card__price">Цена: 29900 руб.</div>
                            <ul class="section__product__feature__list">
                                <li class="section__product__feature">Труба 40x20</li>
                                <li class="section__product__feature">Расстояние между дугами - 1м</li>
                                <li class="section__product__feature">Ширина 2м</li>
                            </ul>
                        </div>
                        <div class="products__action">
                            <button class="buttons buttons__success">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__title">Двойная дуга</div>
                        <img class="card__image" src="https://via.placeholder.com/400x400" alt="">
                        <div class="card__content">
                            <div class="card__price">Цена: 29900 руб.</div>
                            <ul class="section__product__feature__list">
                                <li class="section__product__feature">Труба 40x20</li>
                                <li class="section__product__feature">Расстояние между дугами - 1м</li>
                                <li class="section__product__feature">Ширина 2м</li>
                            </ul>
                        </div>
                        <div class="products__action">
                            <button class="buttons buttons__success">Добавить в корзину</button>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card__title">Двойная дуга</div>
                        <img class="card__image" src="https://via.placeholder.com/400x400" alt="">
                        <div class="card__content">
                            <div class="card__price">Цена: 29900 руб.</div>
                            <ul class="section__product__feature__list">
                                <li class="section__product__feature">Труба 40x20</li>
                                <li class="section__product__feature">Расстояние между дугами - 1м</li>
                                <li class="section__product__feature">Ширина 2м</li>
                            </ul>
                        </div>
                        <div class="products__action">
                            <button class="buttons buttons__success">Добавить в корзину</button>
                        </div>
                    </div>
                </div><!--products__body-->
            </div><!--container-->
        </section>

        <footer class="footer">
            <div class="footer__item">&copy;Все права защищены _Counter021_</div>
        </footer>

    </body>
</html>
