<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Отзывы</title>
        <link href="../scss/style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>
    <body>

        <nav class="navbar">
            <div class="nav">
                <div class="nav__item"><a href="#" class="nav__link active">Главная</a></div>
                <div class="nav__item"><a href="#" class="nav__link">Категории</a></div>
                <div class="nav__item"><a href="#" class="nav__link">Отзывы</a></div>
                <div class="nav__item"><a href="#" class="nav__link">Контакты</a></div>
                <div class="nav__item cart__icon"><a href="#" class="nav__link"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></a></div>
            </div>
            <div class="nav__toggle">
                <span class="nav__toggle__item"><i class="fas fa-bars"></i></span>
            </div>

            <div class="nav__toggle__active">
                <span class="nav__toggle__item"><i class="fa fa-times-circle" aria-hidden="true"></i></span>
            </div>
        </nav>

        <section class="reviews">
            <div class="container">
                <div class="header">Отзывы</div>
                <div class="reviews__body">
                    <div class="reviews__author"><i class="user__icon fa fa-user" aria-hidden="true"></i> <span class="reviews__author__username">_Counter021_</span></div>
                    <div class="reviews__content">
                        <div class="reviews__text">Моя первая вёрстка!</div>
                        <div class="rating" data-total-value="3">
                            <div class="rating__item" data-item-value="5"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="4"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="3"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="2"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="1"><span class="star">&starf;</span></div>
                        </div>
                    </div>
                </div>
                <div class="reviews__body">
                    <div class="reviews__author"><i class="user__icon fa fa-user" aria-hidden="true"></i> <span class="reviews__author__username">_Counter021_</span></div>
                    <div class="reviews__content">
                        <div class="reviews__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A amet maiores numquam optio vitae? Animi architecto at consectetur cum dolores et eum harum maxime, nisi omnis quidem, ratione rem sunt!</div>
                        <div class="rating" data-total-value="0">
                            <div class="rating__item" data-item-value="5"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="4"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="3"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="2"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="1"><span class="star">&starf;</span></div>
                        </div>
                    </div>
                </div>
                <div class="reviews__body">
                    <div class="reviews__author"><i class="user__icon fa fa-user" aria-hidden="true"></i> <span class="reviews__author__username">_Counter021_</span></div>
                    <div class="reviews__content">
                        <div class="reviews__text">Моя первая вёрстка!</div>
                        <div class="rating" data-total-value="1">
                            <div class="rating__item" data-item-value="5"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="4"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="3"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="2"><span class="star">&starf;</span></div>
                            <div class="rating__item" data-item-value="1"><span class="star">&starf;</span></div>
                        </div>
                    </div>
                </div>
            </div><!--container-->
        </section><!--reviews-->

        <footer class="footer">
            <div class="footer__item">&copy;Все права защищены _Counter021_</div>
        </footer>

    </body>
</html>
