@import "rating";

.reviews {

    input[placeholder] {
        text-align: center;
    }

    &__count {
        font-size: 17px;
        display: flex;
        justify-content: center;

        &__item {
            font-weight: bold;
            text-align: center;
            margin: 20px auto;
        }

        &__number {
            padding: 3px 7px;
            color: #fff;
            background: #205635;
            border-radius: 15px;
            margin: 0 10px;
        }
    }

    &__form {
        &__input {
            border: 1px solid black;
            border-radius: 7px;
            display: block;
            height: 50px;
            width: 500px;
        }
    }

    &__filter__input {
        border: 1px solid black;
        border-radius: 7px;
        display: block;
        font-size: 17px;
        margin: 10px;
    }

    .filters {
        &__form {
            display: flex;
            justify-content: center;
        }

        &__header {
            text-align: center;
            font-weight: bold;
            font-size: 17px;
        }
    }

    &__body {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 15px;
    }

    &__author {
        font-size: 25px;

        &__username {
            font-weight: bold;
        }
    }

    &__content {
        margin-top: 10px;
        font-size: 20px;
        width: 100%;

        display: flex;
    }

    &__text {
        margin: auto;
    }
}


.user__icon {
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
}

.pagination__btn {
    margin: 15px;
    display: flex;
}
