.product__table__header {
    font-size: 20px;
    text-align: center;
}

.product__table__content {
    font-size: 17px;
    text-align: center;
}

.product__action {
    width: 35%;
    margin: 30px auto;
    align-content: center;
}

.slider__total__current {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
}
