.cart {

    &__table {
        &__header {
            font-size: 20px;
            text-align: center;
        }

        &__price {
            font-weight: bold;
        }

        &__body {
            font-size: 17px;
            align-content: center;
        }

        &__title {
            font-weight: bold;
            text-align: center;
        }

        &__qty__input {
            border-radius: 10px;
            border: 1px solid #205635;
            text-align: center;
        }

        &__image {
            max-width: 140px;
        }
    }

    &__total {
        margin: 50px;
        font-size: 20px;
        display: flex;
        justify-content: right;

        &__label {
            margin: auto;
        }

        &__price {
            margin: auto;
            font-weight: bold;
        }
    }
}
