@import "reset";

@import "nav";

@import "btn";

@import "arrow";

@import "new";

@import "reviews";

@import "cart";

@import "product_detail";

@import "products_card";

@import "footer";

.container {
    max-width: 1200px;
    width: 100%;
    margin: 5px auto;
}


.section {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px;

    &__body {
        margin-left: 40px;
        width: 50%;
    }

    &__content__header {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__header {
        color: #6cffa0;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        margin: auto;
    }

    &__content {
        margin: 20px auto;
        align-content: center;
        font-size: 16px;
        width: 100%;
    }

    &__action {
        margin: auto;
        width: 35%;
        align-content: center;
    }
}


.header {
    text-transform: uppercase;
    color: #000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    margin: auto;
}


@media (max-width: 990px) {

    .arrow {
        display: none;
    }

    .section {
        flex-wrap: wrap;

        &__body {
            margin-top: 30px;
        }

        &__action {
            width: 100%;
        }
    }

    .product__action {
        width: 100%;
    }

}

@media (max-width: 770px) {

    .nav {
        display: none;

        &__toggle {
            display: block;
        }
    }

    .reviews {
        &__author__username {
            font-size: 17px;
        }

        &__content {
            font-size: 17px;
        }
    }

    .star {
        font-size: 70px;
    }

    .cart__table__image {
        &, &__header {
            display: none;
        }
    }

    .header {
        font-size: 25px;
    }

}

@media (max-width: 550px) {

    img {
        max-width: 340px;
    }

    .reviews__content {
        flex-wrap: wrap;
    }

    .section {
        &__content__header {
            text-align: left;
            font-size: 20px;
        }

        &__header {
            font-size: 20px;
        }

        &__body {
            margin-left: 0;
        }
    }

    .header {
        font-size: 20px;
    }

    .star {
        font-size: 40px;
    }

    .cart {
        &__total {
            font-size: 15px;
        }

        &__table {
            &__qty__input {
                width: 50px;
            }

            &__header {
                font-size: 15px;
            }

            &__title {
                font-size: 13px;
            }

            &__price {
                font-size: 15px;
            }
        }
    }

}
