.logout {
    text-align: center;
    margin: auto;
    font-size: 17px;

    &__header {
        font-size: 25px;
        text-align: center;
        margin: 15px;
        font-weight: bold;
    }

    &__btn {
        width: 25%;
        margin: 10px;
    }
}
