.products__categories {
    display: flex;

    .categories {
        padding: 10px;
        background: #008f32;
        margin: 0 25px 20px 15px;
        color: #fff;
        border-radius: 20px;
        width: 300px;
        font-size: 18px;

        &__item {
            text-align: center;
            margin: 20px 0;
            cursor: pointer;
        }
    }
}

.categories__item__count {
    border-radius: 15px;
    margin: auto;
    padding: 3px 7px;
    background: #808080;
    color: #99ff99;
}

.categories__phone {
    border-radius: 15px;
    background: #008f32;
    font-size: 16px;
    color: #fff;
    display: none;

    &__item {
        cursor: pointer;
        text-align: center;
        padding: 10px;
    }
}
