.new {
    background-color: #205635;

    .section__product__feature__list {

        margin-top: 15px;
        font-size: 18px;

        .section__product__feature {
            margin-left: 30px;
            margin-top: 5px;
        }
    }
}
