.navbar {
    background: #205635;
    font-size: 17px;
}

.nav {
    display: flex;
    justify-content: center;

    &__phone {
        display: none;

        .active {
            color: #fff;
        }
    }

    &__item {
        padding: 16px;
        color: #808080;
        text-align: center;
    }

    & .nav__link:hover {
        color: #fff;
    }

    .cart__icon {
        font-size: 20px;
    }

    .active {
        color: #fff;
    }
}
