@import "custom/reset";

@import "custom/arrow";

@import "custom/btn";

.required {
    color: #ff2400;
    font-weight: bold;
}

.error {
    background: #fff3cd;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    font-size: 17px;
}

.success {
    background: #205635;
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
    text-align: center;
    font-size: 17px;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 5px auto;
}


.section {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px;
    min-height: 420px;

    &__body {
        margin-left: 40px;
        width: 50%;
    }

    &__content__header {
        font-size: 30px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    &__new__content {
        margin: 20px auto;
        align-content: center;
        font-size: 16px;
        width: 100%;
        color: #fff;

        &__header {
            color: #fff;
            font-size: 30px;
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
        }
    }

    &__header {
        color: #6cffa0;
        padding: 30px;
        text-align: center;
        font-size: 35px;
        margin: auto;
    }

    &__content {
        margin: 20px auto;
        align-content: center;
        font-size: 16px;
        width: 100%;
    }

    &__image {
        max-width: 400px;
        max-height: 400px;
    }

    &__action {
        margin: auto;
        width: 35%;
        align-content: center;
    }
}


.header {
    text-transform: uppercase;
    color: #000;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    margin: auto;
}

.table {
    --bs-table-bg: transparent;
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: #212529;
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: #212529;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: #212529;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;

    & > :not(caption) > * > * {
        padding: 0.5rem 0.5rem;
        background-color: var(--bs-table-bg);
        border-bottom-width: 1px;
        box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    }

    & > tbody {
        vertical-align: inherit;
    }

    & > thead {
        vertical-align: bottom;
    }
}

@import "custom/media";
