.contacts {
    background: #205635;
    color: #fff;
    padding: 30px;

    &__header {
        font-weight: bold;
        font-size: 20px;
        text-align: center;
        margin: 10px 10px 30px 10px;
    }

    &__section {
        margin-bottom: 5px;
    }
}
