.navbar {
    background: #205635;
    font-size: 17px;
}

.hide__nav__phone__btn {
    display: none;
}

.nav {
    display: flex;
    justify-content: center;

    &__icons {
        padding: 15px;
        font-size: 25px;
        cursor: pointer;
        color: #fff;
    }

    &__phone {
        display: none;

        .active {
            color: #fff;
        }

        &__hide {
            text-align: end;
            display: none;
        }

        .nav__item {
            padding: 10px;
        }
    }

    &__item {
        padding: 16px;
        color: #808080;
        text-align: center;
    }

    & .nav__link:hover {
        color: #fff;
    }

    .cart__icon {
        font-size: 20px;
    }

    .active {
        color: #fff;
    }
}
